.container {
  position: relative;
  background-color: green;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  h1 {
    position: relative;
  }
}
